<html>
<body>
  <h1>Welcome, <%= username %>!</h1>
  <h2>All users in the system:</h2>
  <table border="1" padding="1">
    <tr>
      <% users.first.keys.each do |header| %>
      <th><%= header %></th>
      <% end %>
    </tr>
    <% users.each do |user| %>
    <tr>
      <% user.values.each do |val| %>
      <td><%= val %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</body>
</html>
